@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Questionable Palace</h1>
    <p>Ask away and the Great Question Master will put your inquiry on the list.</p>
</div>
